alembic==1.4.3
click==7.1.2
docutils==0.16
Flask==1.0.2
Flask-Migrate==2.5.3
flask-oidc==1.4.0
Flask-Script==2.0.6
Flask-SQLAlchemy==2.4.4
flask-swagger-ui==3.18.0
future==0.18.2
httplib2==0.18.1
install==1.3.4
iso8601==0.1.13
itsdangerous==1.1.0
Jinja2==2.10
lockfile==0.12.2
Mako==1.1.3
MarkupSafe==1.1.1
netplan==0.3.3
oauth2client==4.1.3
pid==3.0.4
pkg-resources==0.0.0
psutil==5.8.0
psycopg2-binary==2.8.6
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyserial==3.5
python-daemon==2.2.4
python-dateutil==2.8.1
python-editor==1.0.4
pyudev==0.22.0
pyusb==1.1.0
PyYAML==5.3.1
rsa==4.6
serial==0.0.97
service==0.6.0
setproctitle==1.2.1
six==1.15.0
SQLAlchemy==1.3.22
usbid==2.0
Werkzeug==1.0.1
